@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: "DM Sans", sans-serif;
} */

/* body{
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
} */
